.font-616 {
  font-family: "Kanit", sans-serif;
}
.cent {
  text-align: center;
}

@media screen and (270px <= width < 570px) {
  .outfit {
    padding-top: 14vh;
    text-align: center;
  }
  .about {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    height: 110vh;
    margin: 5vh 0 5vh;
  }
  .leftd {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    height: 55vh;
    animation: left 1.5s 1 ease-in-out;
  }
  @keyframes left {
    0% {
      left: -50vw;
    }
    100% {
      left: 2vw;
    }
  }

  .coder {
    /* border: 1px solid red; */
    height: 40vh;
    width: 58vw;
  }
  .rightd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.4vh 4.1vh 3.8vh;
    font-size: 1.2em;
    text-align: center;
    height: 55vh;
    overflow: hidden;
    /* border: 2px solid black; */
    width: 100%;
    font-weight: 600;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
    position: relative;
    font-family: "Roboto", sans-serif;
    /* border: 2px solid black; */
    /* width: 50%; */
    animation: right 1.8s 1 ease-in-out;
  }
  @keyframes right {
    0% {
      right: -68vw;
    }
    100% {
      right: 0vw;
    }
  }
}
@media screen and (570px <= width < 816px) {
  .outfit {
    padding-top: 13vh;
    text-align: center;
  }
  .about {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    height: 110vh;
    margin: 12vh 0 10vh;
  }
  .leftd {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 55vh;
    animation: left 1.5s 1 ease-in-out;
  }
  @keyframes left {
    0% {
      left: -50vw;
    }
    100% {
      left: 2vw;
    }
  }
  .coder {
    /* border: 1px solid red; */
    height: 40vh;
    width: 58vw;
  }
  .rightd {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0vh 3.8vh;
    font-size: 1.45em;
    height: 55vh;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    /* border: 3px solid  red; */
    width: 100%;
    font-weight: 600;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
    position: relative;
    /* border: 2px solid black; */
    /* width: 50%; */
    animation: right 1.8s 1 ease-in-out;
  }
  @keyframes right {
    0% {
      right: -48vw;
    }
    100% {
      right: 0vw;
    }
  }
}
@media screen and (width > 1150px) {
  #about {
    margin-top: 25vh;
  }
  .outfit {
    /* color:  #4F0341; */
    text-align: center;
  }
  .about {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    /* border: 2px solid red; */
    height: 55vh;
  }
  .leftd {
    /* border: 1px solid black; */
    width: 50vw;
    padding: 6vh;
    left: 2vw;
    height: 55vh;
  }
  .list {
    position: relative;

    animation: left 1.5s 1 ease-in-out;
  }
  @keyframes left {
    0% {
      left: -50vw;
    }
    100% {
      left: 2vw;
    }
  }
  .coder {
    /* border: 1px solid red; */
    height: 40vh;
    width: 40vw;
  }
  .rightd {
    padding: 8.5vh 4.8vh 3.8vh;
    font-size: 1.5em;
    height: 55vh;
    overflow: hidden;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
    /* border: 2px solid black; */
    width: 50vw;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    /* color:  #4F0341; */
  }
  .slist {
    position: relative;
    animation: right 1.8s 1 ease-in-out;
  }
  @keyframes right {
    0% {
      right: -48vw;
    }
    100% {
      right: 0vw;
    }
  }
}
@media screen and (1150px >= width >= 816px) {
  .outfit {
    text-align: center;
  }
  #about {
    margin-top: 25vh;
  }
  .about {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    width: 100vw;
    /* border: 2px solid red; */
    height: 55vh;
  }
  .leftd {
    /* border: 2px solid black; */
    width: 50vw;
    padding: 6vh;
    height: 55vh;
  }
  .coder {
    /* border: 1px solid red; */
    height: 40vh;
    width: 35vw;
  }
  .rightd {
    /* padding: 4.6vh 3.8vh 3.8vh; */
    font-size: 1.4em;
    /* text-align: center; */
    display: flex;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
    justify-content: center;
    align-items: center;
    height: 55vh;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    /* border: 2px solid black; */
    width: 50vw;
    font-weight: 400;
    position: relative;
    /* border: 2px solid black; */
    /* text-align: left; */
    /* width: 50%; */
    animation: right 1.8s 1 ease-in-out;
  }
  @keyframes right {
    0% {
      right: -48vw;
    }
    100% {
      right: 0vw;
    }
  }
}
