 #skill{
  /* border: 2px solid red; */
  height: 80vh;
  width: 100%;
  padding: 0;
 }
 .font-616{
  font-family: "Kanit", sans-serif;
  text-align: center;
}


 .skills{
  /* border: 2px solid yellow; */
  width: 101.2%;
  padding-left: 2vh;
  height: 71vh;
 }
 .center-19{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .row{
  flex-direction:row;
 }
 .column{
  flex-direction: column;
 }
 .skill-1{
  background: #4F0341;
  display: grid;
  grid-template-columns: repeat(4,5fr);
/* border: 2px solid blue; */
width: 100%;
border-radius: 1rem;
height: 100%;
padding-top: 7vh;
padding-left: 7vh;
 }
 
  .progress{
    border: 2px solid black;
    border-radius: none !important;
    height: 5.5vh;
    width: 20vw;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background:#4F0341;
    
  }
  .bg-success-1{
    background-color: yellow !important;
    color: white!important;
  }
  .bg-success-2{
    background-color: red !important;
    color: white !important;
  }.bg-success-3{
    color: white !important;
    background-color: lightseagreen!important;
  }.bg-success-4{
    color: white !important;
    background-color: green !important;
  }.bg-success-5{
    color: white !important;
    background-color: #280137 !important;
  }.bg-success-6{
    color: white !important;
    background-color: purple !important;
  }.bg-success-7{
    color: white !important;
    background-color:#420303 !important;
  }.bg-success-8{
    color: white !important;
    background-color:#333333 !important;
  }.bg-success-9{

    color: white !important;    background-color:#062e03 !important;
  }
  .bg-success-10{
    color: white !important;
    background-color: #2a2a35 !important;
  }.bg-success-12{
    color: white !important;
    background-color: #11887b !important;
  }.bg-success-13{
    color: white !important;
    background-color: #EB0082 !important;
  }.bg-success-13{
    color: white !important;
    background-color: black !important;
  }.bg-success-14{
    color: white !important;
    background-color: #11887b !important;
  }
  .bg-success-15{
    color: white !important;
    background-color: #442200 !important;
  }.bg-success-16{
    color: white !important;
    /* border-right:2px solid white ; */
    background-color: navy !important;}
    @media screen and (820px < width < 1100px){
      .skills{
        /* border: 2px solid yellow; */
        width: 101.2%;
        padding-left: 2vh;
        height: 70vh;
       }
  .progress{ 
    width: 21vw;
    font-size: .8rem;}
    }
    @media screen and (650px < width <= 820px){
      
      .progress{ font-size: .75rem;
      height: 4.4vh;
      width: 21.5vw;
      }
        }
        @media screen and (550px < width <= 650px){
          #skill{
            /* border: 2px solid red; */
            height: 80vh;
            width: 100%;
            padding: 0;
           }
          .progress{ 
          font-size: .65rem;
          height: 4.4vh;
          width: 21.5vw;
          }
          .skills{
            /* border: 2px solid yellow !important; */
            width: 101.9%;
            padding-left: 2vh;
            height: 71vh;
           
            }
            .skill-1{
              width: 100%;
              height: 100%;
            }
          }
            @media screen and (width <= 550px ){
              #skill{
                /* border: 2px solid red; */
                height: 80vh;
                width: 100%;
                padding: 0;
               }
              
              .skills{
                /* border: 2px solid yellow; */
                width: 101.2%;
                /* padding-left: 2vh; */
                height: 72vh;
               
               }
              .skill-1{
                border-radius:1rem;
                background: #4F0341;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              /* border: 4px solid peru; */
              width: 101%;
              height: 100%;
              padding-bottom: 5vh;
               padding-right: 5vh;
            }
            .progress{ 
              margin: .2vh 0vh !important;
              font-size: 1.01rem;
              height: 5.5vh !important;
              width: 65vw;
              }

            }