 #skill{
  /* border: 2px solid red; */
  height: 80vh;
  width: 100%;
  padding: 0;
 }
 .font-616{
  font-family: "Kanit", sans-serif;
  text-align: center;
}

.font-132{
  font-size: 1rem;
}
 .skills{
  /* border: 2px solid yellow; */
  width: 101.2%;
  /* padding-left: 2vh; */
  height: 71vh;
 }
 .center-19{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .row{
  flex-direction:row;
 }
 .column{
  flex-direction: column;
 }
 .skill-1{
  background: linear-gradient(to right,black,#4F0341);
  display: grid;
  grid-template-columns: repeat(4,5fr);
/* border: 2px solid blue; */
width: 98.8%;
border-radius: 1rem;
height: 100%;
padding-top: 7vh;
padding-left: 7vh;
 }
 
  .progress{
    border: 2px solid black;
    border-radius: none !important;
    height: 5.5vh;
    width: 20vw;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    background:#4F0341;
    display: flex;
    flex-direction: row;
  }
 
    @media screen and (820px < width < 1100px){
      .skills{
        /* border: 2px solid yellow; */
        width: 101%;
        /* padding-left: 2vh; */
        height: 70vh;
       }
       .font-132{
        font-size: .9rem;
      }
  .progress{ 
    margin-left: -1vh;
    width: 21vw;
    font-size: .8rem;}
    }
    @media screen and (650px < width <= 820px){
      .font-132{
        font-size: .8rem;
      }
      .progress{ font-size: .75rem;
      height: 4.4vh;
      width: 21.5vw;
      }
      .progress{ 
        font-size: .65rem;
        height: 4.4vh;
        width: 21.5vw;
        margin-left: -1.2vh;
        }

        .skills{
          /* border: 2px solid yellow !important; */
          width: 100.7%;
          /* padding-left: 2vh; */
          height: 71vh;
         
          }
        }
        @media screen and (550px < width <= 650px){
          #skill{
            /* border: 2px solid red; */
            height: 80vh;
            width: 100%;
            padding: 0;
           }
           .font-132{
            font-size: .76rem;
          }
          .progress{ 
          font-size: .65rem;
          height: 4.4vh;
          width: 21.5vw;
          margin-left: -1.2vh;
          }
          .skills{
            /* border: 2px solid yellow !important; */
            width: 100%;
            /* padding-left: 2vh; */
            height: 71vh;
           
            }
            .skill-1{
              background: linear-gradient(to right,black,#4F0341);
              width: 100%;
              height: 100%;
            }
          }
            @media screen and (width <= 550px ){
              #skill{
                /* border: 2px solid red; */
                height: 80vh;
                width: 100%;
                padding: 0;
               }
               .font-132{
                font-size: 1.1rem;
              }
              .skills{
                /* border: 2px solid yellow; */
                width: 100%;
                /* padding-left: 2vh; */
                height: 79vh;
               
               }
              .skill-1{
                border-radius:1rem;
                background: linear-gradient(to right,black,#4F0341);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              /* border: 4px solid peru; */
              width: 101%;
              height: 100%;
              padding-bottom: 5vh;
               padding-right: 5vh;
            }
            .progress{ 
              margin: .2vh 0vh !important;
              font-size: 1.01rem;
              height: 5.5vh !important;
              width: 65vw;
              /* margin-left: ; */
              }

            }
